@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cecece;
}

